.about-us {
  display: flex;
  flex-wrap: wrap;
  width: 278px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.about-us__title {
  width: 100%;
  font-size: @title-size;
  line-height: 33px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
}

.about-us__frame-circle {
  position: relative;
  width: 156px;
  height: 156px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 33px;
}

.about-us__img {
  position: absolute;
  top: -2px;
  right: -40px;
}

.about-us__list {
  margin-top: 1px;
}
