.advantages {
  width: 100%;
  text-align: center;
}

.advantages__title {
  font-size: @title-size;
  line-height: 33px;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}

.advantages__details {
  display: block;
  font-size: 16px;
  font-style: italic;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
