.biography-list {
  .list();
}

.biography-list__item {
  &:first-of-type {
  margin-bottom: 34px;
 }

 &:nth-child(2) {
   margin-bottom: 17px;
 }
}

.biography-list__title {
  font-size: @regular-size;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}

@media (min-width: @tablet-width) {
  .biography-list__item {
    width: 335px;
  }
}
