.biography-list {
  .list();
}

.biography-list__item {
  margin-bottom: 35px;
}

.biography-list__title {
  font-size: @regular-size;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}

.biography-list__text {
  font-size: @small-size;
  padding: 0;
  margin: 0;
}
