.cakes-list {
  .list();

  width: 280px;
  margin: 0 auto;
}

.cakes-list__title {
  font-size: @small-size;
  color: @grey-dark;
  padding: 0;
  margin: 0;
}

.cakes-list__amount {
  font-size: 11px;
  color: @grey-cakes-list;
}
