.contacts {
  width: 278px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.contacts__title {
  text-align: center;
  font-size: @title-size;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.contacts__text {
  font-style: italic;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.contacts__intsruction {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.contacts__tel {
  margin-bottom: 13px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.contacts__email {
  margin-bottom: 14px;
}

.contacts__intro {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}

.contacts__list {
  .list();

  &--social {
    display: flex;

    .social-list__item {
      width: 63px;
      height: 63px;
      margin-right: 31px;

      &--insta {
        background-image: url("../img/icon-instagram-big.png");
      }

      &--vk {
        background-image: url("../img/icon-vk-big.png");
        background-position: 49% 52%;
      }
    }
  }
}
