.details-list {
  .list();

  font-size: 13px;
  margin-bottom: 42px;
}

.details-list__item {
  position: relative;
  padding-left: 15px;
  margin-bottom: 27px;

  &--ingredients::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -27px;
    width: 35px;
    height: 35px;
    background-image: url("../img/icon-ingredient.png");
    background-repeat: no-repeat;
  }

  &--delivery::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -27px;
    width: 35px;
    height: 35px;
    background-image: url("../img/icon-delivery.png");
    background-repeat: no-repeat;
  }
}
