.header-nav {
  .list();

  text-align: center;
  background-color: @grey-menu;

  a {
    color: @grey-dark;
    text-decoration: none;
  }
}

.header-nav__item {
  height: 35px;
  border-bottom: 1px solid @grey-light;
  padding-top: 6px;

  &:hover a {
    color: @rose-btn;
    font-size: 16px;
  }

  &:active a {
    color: @white;
  }
}
