.instruction {
  width: 100%;
  background-color: @red;
  background-image: url("../img/bg-order-mobile.png");
  color: @white;
  padding-top: 28px;
  padding-bottom: 148px;
  margin-bottom: 36px;
}

.instruction__title {
  font-size: @title-size;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}
