.make-cake-list {
  .list();
}

.make-cake-list__item {
  background-color: @white;
  padding-left: 18px;
  padding-top: 1px;
}

.make-cake-list__stage {
  font-size: 16px;
  line-height: 12px;
  font-weight: bold;
  color: @rose-btn;
  margin-bottom: 21px;
}

.make-cake-list__number {
  font-size: 30px;
  margin-right: 11px;
}

.make-cake-list__frame {
  width: 241px;
  height: 113px;
  background-color: @rose-bg;
  overflow: hidden;
  margin-bottom: 10px;
}
