.opinion {
  text-align: center;
  width: 278px;
  margin: 0 auto;
  margin-bottom: 43px;
}

.opinion__title {
  font-size: @title-size;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.opinion__frame-circle {
  position: relative;
  width: 59px;
  height: 59px;
  margin: 0 auto;
  margin-bottom: 3px;
  border-radius: 100%;
  overflow: hidden;
}

.opinion__img {
  position: absolute;
  top: -13px;
  left: -24px;
}

.opinion__description {
  position: relative;
  margin-bottom: 11px;
}

.opinion__name {
  font-size: 13px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.opinion__details {
  font-size: @small-size;
}

.opinion__text {
  width: 250px;
  font-size: @small-size;
  line-height: 15px;
  padding: 0;
  margin: 0 auto;
}

.opinion__link {
  font-style: italic;
  color: @rose-btn;

  &:hover {
    color: @white;
  }

  &:active {
    color: @rose-btn;
    opacity: 0.3;
  }
}

.opinion__pages {
  position: absolute;
  bottom: -3px;
  right: 0;
  color: @rose-btn;
}

.opinion__pagination {
  width: 57px;
  margin: 0 auto;

  .pagination__dot:not(.pagination__dot--active) {
    background-color: @white;
  }
}

@media (min-width: @tablet-width) {
  .opinion {
    width: 729px;
  }

  .opinion__title {
    position: relative;
    font-size: 29px;
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 317px;
      height: 168px;
      background-image: url("../img/ribbon-tablet.png");
      background-repeat: no-repeat;
      background-size: cover;
      outline: 1px solid @black;
    }
  }

  .opinion__wrapper {
    display: flex;
    width: 586px;
    margin: 0 auto;
  }

  .opinion__frame-circle {
    width: 108px;
    height: 108px;
    margin: 0;
    margin-top: 29px;
    margin-right: 24px;
    margin-left: 92px;
  }

  .opinion__description {
    text-align: left;
  }
}
