.social-list {
  .list();

  margin-top: 1px;
}

.social-list__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 15px;
  background-color: @white;
  background-image: url("../img/icon-instagram.png");
  background-position: center;
}
