.social-list {
  .list();
}

.social-list__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 15px;
  background-color: @white;
  background-position: center;
  background-repeat: no-repeat;

  &--insta {
    background-image: url("../img/icon-instagram.png");
  }

  &--vk {
    background-image: url("../img/icon-vk.png");
    background-position: 49% 48%;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.png");
  }
}
